[user]
	name = ksdfg
	email = ksdfg123@gmail.com
	signingkey = 34A2765B29E156704720E46350D061227F1119C2

[commit]
	gpgsign = true

[core]
	editor = nano
	autocrlf = input

[alias]
	s = status
	p = push
	pf = push -f
	pt = push -f --tags
	psu = push --set-upstream
	pl = pull
	plt = pull -f --tags
	f = fetch
	r = remote
	rv = remote --verbose
	ru = remote update
	rrm = remote remove
	rsu = remote set-url
	ra = remote add
	rp = remote prune
	rev = revert
	re = reset
	rh = reset --hard
	rs = reset --soft
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	d = diff
	dc = diff --cached
	c = commit --signoff --gpg-sign
	ca = commit --amend --signoff --gpg-sign
	can = commit --amend --no-edit --signoff --gpg-sign

[pull]
	rebase = true

[safe]
	directory = *

[includeIf "gitdir:~/navana/"]
	path = ~/navana/.gitconfig

[includeIf "gitdir:~/growthx/"]
	path = ~/growthx/.gitconfig
[init]
	defaultBranch = main
[fetch]
	prune = true
