[user]
	name = ksdfg
	email = ksdfg123@gmail.com
	signingkey = 34A2765B29E156704720E46350D061227F1119C2
[commit]
	gpgsign = true
[core]
	editor = nano
	autocrlf = input
[alias]
	s = status
	p = push
	pf = push -f
	psu = push --set-upstream
	pl = pull
	f = fetch
	r = remote
	rv = remote --verbose
	ru = remote update
	rrm = remote remove
	rsu = remote set-url
	ra = remote add
	rev = revert
	re = reset
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	rh = reset --hard
	rs = reset --soft
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	d = diff
	dc = diff --cached
	c = commit --signoff --gpg-sign
	ca = commit --amend --signoff --gpg-sign
	can = commit --amend --no-edit --signoff --gpg-sign
